::-webkit-scrollbar{
    display: none;
}
body{
    background-image: url(../img/bg.png);
}

.containers{
    width: 1400px;
    margin: 0 auto;
}

.item{
    border-top:2px solid green;
    border-left:2px solid green;
    border-bottom:2px solid orange;
    border-right:2px solid orange;
}

.content{
    border-top:2px solid green;
    border-left:2px solid green;
    border-bottom:2px solid orange;
    border-right:2px solid orange;
}
.select{
    border-top:2px solid green;
    border-left:2px solid green;
    border-bottom:2px solid orange;
    border-right:2px solid orange;
}
.input{
    border-top:2px solid green;
    border-left:2px solid green;
    border-bottom:2px solid orange;
    border-right:2px solid orange;
}
.button{
    border-top:2px solid green;
    border-left:2px solid green;
    border-bottom:2px solid orange;
    border-right:2px solid orange;
}
